@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #262626;
  font-family: 'Lexend', sans-serif;
  align-items: center; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

p {
  font-size: 16px; }

header {
  display: inline-block;
  background-color: #2e1d35;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2; }

.cabezal {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .cabezal__logo {
    width: 170px;
    margin-right: 25px; }
  .cabezal__menu {
    display: flex;
    justify-content: end;
    align-items: center; }
    .cabezal__menu--accesos {
      list-style-type: none;
      font-size: 18px;
      font-weight: 400;
      margin-right: 40px; }
      .cabezal__menu--accesos li {
        display: inline;
        margin-left: 25px; }
        .cabezal__menu--accesos li a {
          color: #fff;
          text-decoration: none; }
          .cabezal__menu--accesos li a :hover {
            color: #feaa7e; }
    .cabezal__menu--botones a {
      color: #2e1d35;
      background-color: #fff;
      border-radius: 5px;
      margin-right: 15px;
      padding: 10px 30px;
      text-decoration: none;
      transition: all 0.5s;
      font-size: 16px;
      font-weight: 600; }
      .cabezal__menu--botones a:hover {
        background-color: #feaa7e;
        color: #fff;
        transform: translateX(50px); }
    .cabezal__menu--botones li {
      display: inline; }
      .cabezal__menu--botones li a {
        color: #2e1d35;
        background-color: #fff;
        border-radius: 5px;
        margin-right: 15px;
        padding: 10px 30px;
        text-decoration: none;
        transition: all 0.5s; }
        .cabezal__menu--botones li a:hover {
          background-color: #feaa7e;
          color: #fff;
          transform: translateX(50px); }

.pie {
  font-size: 16px;
  height: 50px; }
  .pie a {
    text-decoration: none;
    color: #262626; }
    .pie a:hover {
      text-decoration: none;
      color: #feaa7e; }
  .pie__menu ul {
    padding: 0; }
    .pie__menu ul li {
      display: inline;
      margin-right: 15px; }
      .pie__menu ul li::after {
        content: '|';
        margin-left: 15px; }
      .pie__menu ul li:last-child::after {
        content: ''; }
  .pie__redes ul {
    padding: 0; }
    .pie__redes ul li {
      display: inline;
      margin-right: 15px; }
      .pie__redes ul li::after {
        content: '|';
        margin-left: 15px; }
      .pie__redes ul li:last-child::after {
        content: ''; }
      .pie__redes ul li:first-child::after {
        content: ''; }
  .pie--titulo {
    font-size: 16px;
    font-weight: 900; }

.buscador {
  width: 100%;
  height: 500px;
  background-image: url("../assets/gretsch-streamliner-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px;
  margin-bottom: 25px;
  color: #fff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center; }
  .buscador__titulo {
    text-align: center;
    font-size: 45px; }
  .buscador__form {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 250px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; }
    .buscador__form--buscar {
      display: inline;
      width: 100%; }
    .buscador__form--filtro {
      display: inline;
      width: 100%; }
    .buscador__form label {
      font-size: 18px;
      font-weight: 600; }
    .buscador__form input {
      margin-right: 15px;
      height: 50px;
      border-radius: 5px;
      padding: 10px;
      width: 95%;
      border: none;
      font-size: 16px; }
      .buscador__form input:hover {
        border: 2px solid #2e1d35; }
      .buscador__form input:focus {
        border: 2px solid #2e1d35; }
    .buscador__form select {
      margin-right: 15px;
      height: 50px;
      border-radius: 5px;
      padding: 10px;
      width: 95%;
      border: none;
      font-size: 16px; }
    .buscador__form button {
      width: 100%;
      height: 50px;
      background-color: #feaa7e;
      border-radius: 5px;
      border: none;
      color: #fff;
      font-weight: 700;
      font-size: 18px; }

.productos-home__titulo {
  font-size: 35px;
  text-align: center; }

.producto {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  padding: 15px;
  display: inline-block;
  position: relative;
  transition: all 0.3s;
  margin-bottom: 20px; }
  .producto:hover {
    box-shadow: 10px 10px 10px -10px black;
    transform: scale(1.05); }
  .producto__imagen {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden; }
    .producto__imagen img {
      width: 100%;
      transition: all 0.5s ease; }
      .producto__imagen img:hover {
        transform: scale(1.2);
        opacity: 0.6; }
  .producto__sale {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #d41737;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    font-weight: 900;
    z-index: 1; }
  .producto__titulo {
    font-size: 16px;
    margin-bottom: 10px; }
  .producto__texto {
    font-size: 14px;
    margin-bottom: 10px; }
    .producto__texto--precio {
      font-size: 25px;
      font-weight: 800;
      margin-bottom: 10px;
      display: inline; }
      .producto__texto--precio--anterior {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-left: 10px;
        display: inline;
        text-decoration: line-through;
        color: #d41737; }
  .producto__boton {
    color: #fff;
    display: inline-block;
    background-color: #feaa7e;
    border-radius: 3px;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    transition: all 0.3s; }
    .producto__boton:hover {
      color: #fff;
      background-color: #2e1d35; }

.productos-listado {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 auto;
  max-width: 1350px;
  padding: 25px;
  gap: 15px;
  margin-bottom: 25px; }

.producto-secundario {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  padding: 10px;
  display: inline-block;
  position: relative;
  transition: all 0.3s; }
  .producto-secundario:hover {
    box-shadow: 10px 10px 10px -10px black;
    transform: scale(1.1); }
  .producto-secundario__imagen {
    width: 100%;
    margin-bottom: 10px; }
  .producto-secundario__sale {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #d41737;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    font-weight: 900; }
  .producto-secundario__titulo {
    font-size: 14px;
    margin-bottom: 10px; }
  .producto-secundario__texto {
    font-size: 12px;
    margin-bottom: 10px; }
    .producto-secundario__texto--precio {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
      display: inline; }
      .producto-secundario__texto--precio--anterior {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
        margin-left: 10px;
        display: inline;
        text-decoration: line-through;
        color: #d41737; }
  .producto-secundario__boton {
    color: #fff;
    display: inline-block;
    background-color: #feaa7e;
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 10px; }
    .producto-secundario__boton:hover {
      color: #fff;
      background-color: #2e1d35; }
