// --------------
// Buscador BG //
// Productos Destacados //
// Zona Full Crema
// Productos Secundarios //
// --------------

// Buscador BG /////////////////////////////////////////////////////////
.buscador {
    width: 100%;
    height: 500px;
    background-image: url("../assets/bg-fuzz-cream.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    margin-bottom: 25px;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
    &__titulo {
        text-align: center;
        font-size: 45px;
        font-weight: 900;
        span {
            background: -webkit-linear-gradient(45deg, $colorSecundario 0%, $colorTerciarioClaro 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
        @media (max-width: $lg) {
            font-size: 35px;   
        }
        @media (max-width: $xs) {
            font-size: 25px;   
        }
    }
    &__form {
        font-size: 20px;
        text-align: center;
        padding: 20px 0;
        top: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 250px;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        @media (max-width: $lg) {
            grid-template-columns: repeat(2, 1fr) 150px; 
        }
        @media (max-width: $md) {
            grid-template-columns: repeat(1, 1fr); 
        }


        &--buscar {
            display: inline;
            width: 100%;
        }

        &--filtro {
            display: inline;
            width: 100%;
        }
        
        label {
            font-size: 18px;
            font-weight: 600;
        }
        input {
            margin-right: 15px;
            height: 50px;
            border-radius: 5px;
            padding: 10px;
            width: 95%;
            border: none;
            font-size: 16px;
            &:hover {
                border: 2px solid $colorPrimario;
            }
            &:focus {
                border: 2px solid $colorPrimario;
            }
            @media (max-width: $md) {
                width: 100%;
                margin-bottom: 10px; 
            }
        } 
        select {
            margin-right: 15px;
            height: 50px;
            border-radius: 5px;
            padding: 10px;
            width: 95%;
            border: none;
            font-size: 16px;
            @media (max-width: $md) {
                width: 100%;
                margin-bottom: 10px; 
            }
        }
        button {
            width: 100%;
            height: 50px;
            background-color: $colorSecundario;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-weight: 700;
            font-size: 18px;
        }
    }
}

// Productos Destacados /////////////////////////////////////////////
.productos-home__titulo {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.producto {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid $colorGrisClaro;
    padding: 15px;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
    margin-bottom: 20px;
    &:hover {
        box-shadow: $sombraHover;
        transform: scale(1.05);
    }

    &__imagen {
        width: 100%;
        margin-bottom: 10px;
        box-sizing: border-box;
        overflow: hidden;
        img {
            width: 100%;
            transition: all 0.5s ease;
            &:hover {
                transform: scale(1.2);
                opacity: 0.6;
            }
        }
    }
    &__sale {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: $colorDestacado;
        color: #fff;
        border-radius: 3px;
        padding: 5px;
        font-weight: 900;
        z-index: 1;
    }
    &__titulo {
        font-size: 16px;
        margin-bottom: 10px;
    }
    &__texto {
        font-size: 14px;
        margin-bottom: 10px;
        
        &--precio {
            font-size: 25px;
            font-weight: 800;
            margin-bottom: 10px;
            display: inline;
            &--anterior {
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 10px;
                margin-left: 10px;
                display: inline;
                text-decoration: line-through;
                color: $colorDestacado;
            }
        }
    }
    &__boton {
        color: #fff;
        display: inline-block;
        background-color: $colorSecundario;
        border-radius: 3px;
        padding: 10px 20px;
        text-decoration: none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        transition: all 0.3s;
        &:hover {
            color: #fff;
            background-color: $colorPrimario;
        }
    }
}

// Nueva zona Full Crema /////////////////////////////////////////////
.cont-fullcrema {
    display: flex;
    height: 630px;
    background-color: $colorPrimario;
    background-image: url(../../assets/bg-fullcrema.png);
    @media (max-width:$lg) {
        background-image: none;
        height: 100%;
    }
    .full-crema {
        padding: 50px;
        max-width: 1200px;
        margin: 0 auto;
        @media (max-width:$md) {
            padding: 25px;
        }
        h1 {
            font-size: 60px;
            color: #fff;
            font-weight: 900;
            margin-bottom: 35px;
            font-style: italic;
            text-align: center;
            span {
                background: -webkit-linear-gradient(45deg, $colorSecundario 0%, $colorTerciarioClaro 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            @media (max-width:$md) {
                font-size: 40px; 
            }
        }

        // Tarjetas //
        &__tarjetas {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
            @media (max-width:$md) {
                grid-template-columns: repeat(1,1fr); 
            }
            &--item {
                width: 100%;
                height: 400px;
                background-image: linear-gradient(163deg, $colorSecundario 0%, $colorTerciarioClaro 100%);
                border-radius: 23px;
                transition: all .3s;
                &:hover {
                    box-shadow: 0px 0px 30px 1px rgba(255, 174, 0, 0.315);
                   }
               }
               
            &--item2 {
                width: 100%;
                height: 400px;
                background-color: $colorPrimarioDark;
                border-radius: 10px;
                transition: all .5s;
                padding: 25px;
                &:hover {
                    transform: scale(0.98);
                    border-radius: 20px;
                    h2 {
                        &::before {
                            content: '🍨';
                            font-style: normal;
                        }
                    }
                   }
                h2 {
                    color: #fff;
                    font-size: 30px;
                    text-align: center;
                    font-weight: 800;
                    font-style: italic;
                    &::before {
                        content: '';
                    }
                }

                &--img {
                    width: 100%;
                    height: 85%;
                    overflow: hidden;
                    position: relative;
                    margin-top: 25px;
                    img {
                        width: 100%;
                        filter: grayscale(100%);
                        opacity: .8;   
                        transition: all .5s; 
                    }
                    &--boton {
                        background-color: transparent;
                        width: 100%;
                        border-radius: 4px;
                        color: transparent;
                        cursor: pointer;
                        padding: 15px 30px;
                        font-size: 20px;
                        font-weight: 800;
                        font-style: italic;
                        text-transform: uppercase;
                        border: none;
                        position: absolute;
                        bottom: 0;
                        z-index: 2;
                        
                        @media (max-width:$sm) {
                            background-color: $colorPrimario;
                            color: #fff;
                        }
                        @media (max-width:$xs) {
                            bottom: 35px;
                        }
                    }  
                    &:hover {
                        img {
                            filter: none;
                            opacity: 1;
                            transform: scale(1.2);
                        }
                        button {
                            background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
                            animation: boton-querica 5s linear infinite;
                            color: $colorPrimario;
                        }
                        
                    }
                    @keyframes boton-querica {
                        to {
                         background-position: 20vw;
                        }
                    }
                     
                }
                
                
                   
            }
        }   
    }

}



// Productos Secundarios /////////////////////////////////////////////
.productos-listado {
    @extend .container;
    @include templateGrilla(6, 15px);
    margin-bottom: 25px;
    @media (max-width: $lg) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: $md) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $sm) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $xs) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $xxs) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.producto-secundario {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid $colorGrisClaro;
    padding: 10px;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
    &:hover {
        box-shadow: $sombraHover;
        transform: scale(1.1);
        z-index: 3;
    }
    &__imagen {
        width: 100%;
        margin-bottom: 10px;
    }
    &__sale {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: $colorDestacado;
        color: #fff;
        border-radius: 3px;
        padding: 5px;
        font-weight: 900;
    }
    &__titulo {
        font-size: 14px;
        margin-bottom: 10px;
    }
    &__texto {
        font-size: 12px;
        margin-bottom: 10px;
        &--precio {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            display: inline;
            &--anterior {
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 10px;
                margin-left: 10px;
                display: inline;
                text-decoration: line-through;
                color: $colorDestacado;
            }
        }
    }
    &__boton {
        color: #fff;
        display: inline-block;
        background-color: $colorSecundario;
        border-radius: 3px;
        padding: 5px;
        font-size: 12px;
        text-decoration: none;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        &:hover {
            color: #fff;
            background-color: $colorPrimario;
        }
    }

}

///////////// Pasos de Venta 
/// 
.comovender {
    color: #fff;
    background-color: $colorPrimarioDark;
    
    &__contenedor {
        @extend .container;
        padding-block: 50px;
        h2 {
            font-size: 40px;
            font-weight: 800;
            text-align: center;
            @extend .titulo-gradient
        }

        &--pasos {
            display: flex;
            gap: 25px;
            margin-top: 25px;
            @media (max-width:$xl) {
                padding-inline: 20px;
            }
            @media (max-width:$lg) {
                flex-direction: column;
            }
            &--tarjeta {
                background-color: #dcc66c;
                border-radius: 3px;
                padding: 25px;
                position: relative;
                h3 {
                    color: $colorPrimario;
                    font-size: 24px;
                    font-weight: 600;
                }
                
                span {
                    position: absolute;
                    top: -8px;
                    left: -8px;
                    background-color: $colorTerciarioClaro;
                    border-radius: 50%;
                    padding: 3px 10px;
                    width: 30px;
                    height: 30px;
                    font-size: 24px;
                    font-weight: 700;

                }
                p {
                    color: $colorPrimario;
                }
            }

        }
    }

}