// -----------------
// Buscador de Listado //
// Listado //

// Buscador de Listado //
.buscador-listado {
    color: $negroPrimario;
    font-size: 15px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    &__form {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 200px;
        gap: 25px;
        align-items: center;
        &--filtro {
            display: flex;
            align-items: center;
        }  
        legend {
            font-size: 14px; 
            margin-right: 10px;   
        }
        select {
            height: 50px;
            border-radius: 5px;
            width: 100%;
            padding: 10px;
            border: solid 1px $colorGrisClaro;
            display: inline;
        }
    }
    &__btn {
        background-color: $colorSecundario;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        padding: 5px 25px;
    }
}

/// LATERAL FIJO  //////////////////////////////////
.categoria {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 25px;
    gap: 25px;
    @media (max-width:$xl) {
        padding-inline: 20px;
    }
    @media (max-width:$md) {
        flex-direction: column;
        padding-inline: 25px;
    }
    h1 {
        font-size: 50px;
        font-weight: 600;
        color: $colorPrimario;
        @media (max-width:$md) {
            font-size: 30px;
        }
    }

    &__lateral {
        height: 100%;
        width: 20%;
        position: sticky;
        top: 125px;
        border: 1px solid $colorGrisClaro;
        border-radius: 3px;
        padding: 20px;
        @media (max-width:$lg) {
            width: 40%;
        }
        @media (max-width:$md) {
            width: 100%;
            position: relative;
            top: 0;
        }
        &--container {
            h2 {
                font-size: 22px;
                font-weight: 800;
                border-bottom: 1px solid $colorGrisClaro;
                padding-bottom: 15px;
            }
            h3 {
                font-size: 18px;
                font-weight: 600;
            }
            &--precio {
                input {
                    width: 100%;
                    display: block;
                }
            }
            &--resultado {
                span,
                input {
                    display: inline;
                    border: none;
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 10px;    
                }
            }
            &--boton {
                color: #fff;
                background-color: $colorSecundario;
                border-radius: 3px;
                padding: 10px;
                font-size: 18px;
                text-decoration: none;
                width: 100%;
                text-align: center;
                margin-top: 10px;
                border: none;
                transition: all .3s;
                    &:hover {
                    color: #fff;
                    background-color: $colorPrimario;
                    font-weight: 600;
                }
            }
        }
    }
        

    
    &__listado {
        width: 80%;
        @media (max-width:$lg) {
            width: 60%;
        }
        @media (max-width:$md) {
            width: 100%;
        }
        &--producto {
            background-color: #fff;
            border-radius: 3px;
            border: 1px solid #e9e9e9;
            padding: 15px;
            display: inline-block;
            position: relative;
            transition: all 0.3s;
            margin-bottom: 20px;
            &:hover {
                box-shadow: $sombraHover;
                transform: scale(1.05);
            }

            &--imagen {
                width: 100%;
                margin-bottom: 10px;
                box-sizing: border-box;
                overflow: hidden;
            }

            &--titulo {
                font-size: 16px;
                margin: 10px 0 10px 0;
            }

            &--texto {
                font-size: 14px;
                margin-bottom: 10px;  
            }
            &--precio {
                font-size: 18px;
                font-weight: 700;
                color: $colorPrimario;
                margin-bottom: 10px;  
            }
            &--raiting {
                font-size: 18px;
                color: $colorPrimarioLight;
                .estrellita {
                    color: orange;
                }
            }
            &--nuevo {
                @extend .tags;
                background-color: $colorTerciario;
            }
            &--usado {
                @extend .tags;
                background-color: $colorPrimarioLight;
                color: $colorPrimarioMedio;
            }
        }
    }
}