//////////////////////////
//        ()            //
//       (__)           //
//      (____)          //
//     (______)         //
//    (________)        //
//   (__________)       //
//    \/\/\/\/\/        //
//     \/\/\/\/         //
//      \/\/\/          //
//       \/\/           //
//        \/            //
//////////////////////////
// google font //
// Reset //
// Titulos y textos //
// Extends y Mixins //


// google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

//Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Generales
body {
    color: #262626;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

//// Extends
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-chico {
    max-width: 800px;
    margin: 0 auto;
}

.tags {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: $colorTerciarioClaro;
    padding: 5px 10px;
    border-radius: 3px;
    margin-block: 10px; 
    width: fit-content;
}

// Degradado en Titulos
.titulo-gradient {
    span {
        background: -webkit-linear-gradient(45deg, $colorSecundario 0%, $colorTerciarioClaro 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// Mixins
@mixin templateGrilla($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}