@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORES 
Primario_#feaa7e
Negros_#262626
Gris 1_#6c6c6c
Secundario_#8C7354
#1f3f7a
*/

body {
    color: #262626;
    font-family: 'Lexend', sans-serif;
    align-items: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

/* ////Cabezal//// */

header {
    display: inline-block;
    background-color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0px 5px 5px rgba(0,0,0, 0.25);
    z-index: 1;
}

.cabezal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabezal__logo {
    width: 170px;
}


.cabezal__menu {
    display: flex;
    justify-content: end;
    align-items: center;
}

.cabezal__menu--accesos {
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    margin-right: 40px;
}

.cabezal__menu--accesos li {
    display: inline;
    margin-left: 25px;   
}
.cabezal__menu--accesos li a {
    color: #262626;
    text-decoration: none;
}

.cabezal__menu--accesos li a:hover {
    color: #feaa7e;
}


.cabezal__menu--botones {
    list-style: none;
    font-size: 16px;
    font-weight: 600;   
}

.cabezal__menu--botones li {
    display: inline;
}

.cabezal__menu--botones li a {
    color: #fff;
    background-color: #feaa7e;
    border-radius: 5px;
    margin-right: 15px;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.5s;
}
.cabezal__menu--botones li a:hover {
    background-color: #1a2333;
}


/* //// Cabezal responsive //// */
.cabezal__menu--mobile {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    /* display: none; */
}


.cabezal__menu--mobile a {
    color: #fff;
    background-color: #feaa7e;
    border-radius: 5px;
    margin-right: 15px;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.5s;
    display: none;
}

.cabezal__menu--mobile a:hover {
    background-color: #1a2333;
}

.cabezal__menu--mobile span {
   margin-right: 25px;
   display: none;
}

.cabezal__menu--mobile img {
    height: 20px;
    /* display: none; */
}


/* //// Slide + Buscador Home //// */
.buscador {
    width: 100%;
    height: 500px;
    background-image: url("../assets/gretsch-streamliner-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    margin-bottom: 25px;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.buscador__titulo {
    text-align: center;
    font-size: 45px;
}

.buscador__form {
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 250px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.buscador__form--buscar {
    display: inline;
    width: 100%;
}

.buscador__form--filtro {
    display: inline;
    width: 100%;
}

.buscador__form label {
    font-size: 18px;
    font-weight: 600;
}

.buscador__form input {
    margin-right: 15px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
}

.buscador__form select {
    margin-right: 15px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    width: 95%;
}

.buscador__form button {
    width: 100%;
    height: 50px;
    background-color: #feaa7e;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}


/* ////Productos Destacados//// */

.productos-home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 1200px;
    padding: 25px;
}

.productos-home__titulo {
    font-size: 35px;
    text-align: center;
}

.producto {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    padding: 15px;
    display: inline-block;
    box-shadow: 10px 10px 10px -10px rgba(0,0,0, 40%);
    margin: 0 15px 15px 0;
    position: relative;
}

.producto__imagen {
    width: 100%;
    margin-bottom: 10px;
}

.producto__sale {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #d41737;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
    font-weight: 900;
}

.producto__titulo {
    font-size: 16px;
    margin-bottom: 10px;
}

.producto__texto {
    font-size: 14px;
    margin-bottom: 10px;
}

.producto__texto--precio {
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
    display: inline;
}

.producto__texto--precio--anterior {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 10px;
    display: inline;
    text-decoration: line-through;
    color: #d41737;
}

.producto__boton {
    color: #fff;
    display: inline-block;
    background-color: #feaa7e;
    border-radius: 3px;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/* ///// Pie /////*/

.pie {
    font-size: 16px;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}

.pie a {
    text-decoration: none;
    color: #262626;
}

.pie a:hover {
    text-decoration: none;
    color: #feaa7e;
}

.pie__menu {
    justify-self: start;
}

.pie__menu li {
    display: inline;
    padding: 15px;
}

.pie__redes {
    justify-self: end;
}

.pie__redes li {
    display: inline;
    padding: 15px;
}

.pie__redes--titulo {
    font-size: 16px;
    font-weight: 900;
}

/* ///// Ampliación de Producto ///// */

.producto-ampliado {
    padding: 15x;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 25px;
    margin-top: 20px;
}

.producto-ampliado__imagen {
    width: 100%;
}

.producto-ampliado__imagen--img {
    width: 700px;
}

.producto-ampliado__info {
    padding: 30px;
    border: solid 1px #e9e9e9;
    border-radius: 5px;
    
}

.producto-ampliado__titulo {
    font-size: 30px;
    font-weight: 800;
    margin: 15px 0 15px 0;
}

.producto-ampliado__categoria {
    font-size: 13px;
    font-weight: 300;
    background-color: #1f3f7a;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    display: inline;
}

.producto-ampliado__vendedor {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.producto-ampliado__img-vendedor {
    width: 40px;
    border-radius: 50%;
    border: solid 3px #e9e9e9;
    margin-right: 10px;
}

.producto-ampliado__nombre-vendedor {
    font-size: 14px;
    font-weight: 400;
    color: #1f3f7a;
}

.producto-ampliado__texto {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 15px;
}

.producto-ampliado__precio {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.producto-ampliado__boton a {
    color: #feaa7e;
    background-color: #fff;
    border: solid 3px #feaa7e;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.producto-ampliado__boton a:hover {
    background-color: #1a2333;
    border: solid 3px #1a2333;
    color: #fff;

}

.producto-ampliado__video {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
    background-color: #262626;
}

.producto-ampliado__video p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
    width: 50%;
}

.producto-ampliado__video--iframe {
    margin: 15px;
    box-shadow: 0 10px 40px -12px rgba(0,0,0, 0.4);
    width: 700px;
    height: 500px;
}

/*////// Buscador - listado ///// */

.buscador-listado {
    color: #262626;
    font-size: 15px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.buscador-listado__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 200px;
    gap: 25px;
    align-items: center;    
}

.buscador-listado__form--filtro {
    display: flex;
    align-items: center;
}
    
.buscador-listado__form legend {
    font-size: 14px; 
    margin-right: 10px;   
}

.buscador-listado__form select {
    height: 50px;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    border: solid 1px #e9e9e9;
    display: inline;
}

.buscador-listado__form button {
    height: 50px;
    background-color: #feaa7e;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}


/* ///// Formulario Publicar ///// */

.publicar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

.publicar__intro {
    display: flex;
    flex-direction: column;
    margin-right: 25px ;
    margin-bottom: 15px;
}

.publicar__form {
    display: flex;
    flex-direction: column;
    border: solid 1px #e9e9e9;
    padding: 25px;
    
}

.publicar__form input {
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: solid 1px #e9e9e9;
    margin-top: 5px;
}

.publicar__form input[type='radio'] {
    border: solid 1px #e9e9e9;
    width: 40px;
    margin-right: 10px;
}

.publicar__form input[type='checkbox'] {
    border-radius: 5px;
    border: solid 1px #e9e9e9;
    width: 20px;
    margin-right: 10px;
}

.publicar__form select {
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: solid 1px #e9e9e9;
    margin-top: 5px;
}

.publicar__form label {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}

.publicar__form textarea {
    border: solid 1px #e9e9e9;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px 0;
}

.publicar__form button {
    width: 100%;
    height: 50px;
    background-color: #feaa7e;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.publicar__form--marca {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.publicar__form--modelo {
    display: flex;
    justify-content: space-between-;
    align-items: center;
    margin-bottom: 15px;
}

.publicar__form--precio {
    display: flex;
    flex-flow: column wrap;
}

.publicar__form--moneda {
    display: flex;
    align-items: center;
}

.publicar__form--valor {
    margin-bottom: 15px;
}

.publicar__form--imagenes {
    margin-bottom: 15px;
}

.publicar__form--cambio {
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0 20px 0;
}

.publicar__form--acepto {
    display: flex;
    align-items: center;
}


/* NOSOTROS */

.nosotros {
    width: 100%;
    height: 500px;
    background-image: url("../assets/gretsch-streamliner-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px;
    margin-bottom: 25px;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.nosotros__cont {
    max-width: 1200px;
    margin: 0 auto;

}

.nosotros__titulo {
    text-align: center;
    font-size: 45px;
    margin-bottom: 10px;
}

.nosotros__contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}

.nosotros__mapa {
    width: 100%;
    padding: 15px;
}

/* formulario NOSOTROS */

.nosotros__form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 50%;
}

.nosotros__intro {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 25px ;

}

.nosotros__form {
    display: flex;
    flex-direction: column;
    border: solid 1px #e9e9e9;
    padding: 25px;
    width: 100%;
}

.nosotros__form input {
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: solid 1px #e9e9e9;
    margin-top: 5px;
}


.nosotros__form select {
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: solid 1px #e9e9e9;
    margin-top: 5px;
}

.nosotros__form label {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}

.nosotros__form textarea {
    border: solid 1px #e9e9e9;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px 0;
}

.nosotros__form button {
    width: 100%;
    height: 50px;
    background-color: #feaa7e;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

/* /// Media Queri /// */

/* @media (max-width: 1200px) {
    .buscador__form {
        grid-template-columns: repeat(1, 1fr);
    }
} */

@media (max-width: 1200px) {
    
    /* ///// Ampliación de Producto ///// */
    .producto-ampliado__video {
        flex-direction: column;
    }

    .producto-ampliado__video p {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .productos-home {
        grid-template-columns: repeat(3, 1fr);
    }
    
    /* ///// Cabezal ///// */
    .cabezal {
        flex-direction: column;
        justify-content: center;
    }

    .cabezal__menu {
        flex-direction: column;
        justify-content: center;
    }

    .cabezal__menu--botones {
        margin-top: 30px;
    }

    .cabezal__logo {
        width: 170px;
        margin-bottom: 10px;
    }

    /* ///// Buscador - home ///// */
    .buscador__titulo {
        font-size: 30px;
    }

    .buscador__form {
        grid-template-columns: repeat(2, 1fr) 150px; 
    }

    /* ///// Pie ///// */
    .pie {
        grid-template-columns: repeat(1, 1fr);
        
    }
    .pie__menu {
        justify-self: center;
        margin-bottom: 15px;
    }
    .pie__redes {
        justify-self: center;
    }

    /* ///// Ampliación de Producto ///// */
    .producto-ampliado {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 0;
    }

    .producto-ampliado__imagen--img {
        width: 100%;
    }

    .producto-ampliado__info {
        padding: 30px;
        border: solid 1px #e9e9e9;
        border-radius: 5px;
        margin: 0 25px;
        
    } 
    
    .buscador-listado__form {
        grid-template-columns: repeat(3, 1fr) 150px;
    }
    
    .buscador-listado__form button {
        width: 100%;
    }

    .buscador-listado__form legend {
    display: none;
    }

    .nosotros__contacto {
        grid-template-columns: repeat(1, 1fr);   
    }
}

@media (max-width: 768px) {
    .productos-home {
        grid-template-columns: repeat(3, 1fr);
    }
    
    /* ///// Cabezal ///// */
    .cabezal {
        flex-direction: column;
        justify-content: center;
    }

    .cabezal__menu {
        flex-direction: column;
        justify-content: center;
    }

    /* ///// Buscador - home ///// */
    .buscador__form {
        grid-template-columns: repeat(1, 1fr);
    }

    .buscador__form input {
        width: 100%;
        margin-bottom: 10px;
    }
    .buscador__form select {
        width: 100%;
        margin-bottom: 10px;
    }

    /* ///// Ampliación de Producto ///// */
    .producto-ampliado__video--iframe {
        width: 576px;
        height: 300px;
    }

    .buscador-listado__form {
        grid-template-columns: repeat(1, 1fr);
    }

    .producto {
    box-shadow: none;
    }

    .nosotros {
        padding: 20px;
    }

    .nosotros__cont {
        overflow: scroll;
    }

    .nosotros__titulo {
        font-size: 30px;
    }

    .publicar {
        grid-template-columns: repeat(1, 1fr);
        
    }
}


@media (max-width: 576px) {
    .productos-home {
        grid-template-columns: repeat(2, 1fr);
    }

    /* ///// Cabezal ///// */
    .cabezal {
        flex-direction: row;
        justify-content: space-between;
    }

    .cabezal__menu--accesos {
        display: none;
    }

    .cabezal__menu--botones {
        display: none;
    }

    .cabezal__menu--mobile a {
        display: inline;
    }

    .cabezal__menu--mobile span {
        display: inline;
    }

    .cabezal__logo {
        width: 150px;
        margin-bottom: 0;
    }

    /* ///// Ampliación de Producto ///// */
    .producto-ampliado__boton a {
        font-size: 16px;
    }

    .producto-ampliado__video--iframe {
        width: 460px;
        height: 300px;
    }

    .nosotros__cont {
        overflow: scroll;
    }

}

@media (max-width: 480px) {
    .productos-home {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ///// Cabezal ///// */
    .cabezal__menu--accesos {
        display: none;
    }

    .cabezal__menu--botones {
        display: none;
    }

    .cabezal__logo {
        width: 120px;
    }

    /* ///// Buscador - home ///// */
    .buscador__titulo {
        font-size: 25px;
    }

    /* ///// Pie ///// */
    .pie {
        font-size: 14px;
    }

    .pie__menu li {
        padding: 5px;
    }

    .pie__redes li {
        padding: 5px;
    }

    .pie__redes--titulo {
        font-size: 14px;
    }

    /* ///// Ampliación de Producto ///// */
    .producto-ampliado__video--iframe {
        width: 360px;
        height: 300px;
    }

    .producto {
        box-shadow: none;
        margin-right: 0;
        }
    
}

